@import "fonts";
@import "colors";
#menucontainer {
    .header {
        .brandlogo {
            font-family: crystal;
            font-size: 50px;
            margin-top: 30px;
            color: $mywhite;
            text-decoration: underline;
        }
        .navbar {
            background-color: transparent;
            background: transparent;
            border-color: transparent;
        }
        li {
            font-family: $secondfont;
            font-size: 15px;
            a {
                color: $mywhite;
                text-shadow: 0.06em 0 black, 0 0.06em black, -0.06em 0 black, 0 -0.06em black;
            }
        }
    }
    #leftList {
        list-style-type: none;
    }
    #menupictures {
        .menuPicture {
            height: 100%;
            padding: 0px;
            border: 5px solid $golden;
            .windowP {
                height: 100%;
                width: 100%;
                background-size: cover;
                margin: 0px;
                box-shadow: inset 0 0 0 1000px rgba(1,0,0,.2);
                h3 {
                    font-size: 35px;
                    margin: 0px;
                    font-family: $secondfont;
                    color: $mywhite;
                    pointer-events: none;
                    position: relative;
                    top:15px;
                    left:15px;
                }
                &:hover{
                    box-shadow: 0 0 50px #ccc;
                }
                
            }
        }
        a {
            text-decoration: none;
        }
    }
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            /* Could be more or less, depending on screen size */
            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}